spring-all/MySpring/src/main/java/com/wangzhen/myspring/context/xsd/spring-bean.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3schools.com"
           xmlns="http://www.w3schools.com"
           elementFormDefault="qualified">

    <xs:element name="bean">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="isSingleton" type="xs:boolean" default="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>